swap_tiled_layout name="sidebar_open" {
    ui min_panes=8 {
        pane split_direction="vertical" {
            yazi size="20%";

            pane name="main" split_direction="vertical" {
                pane focus=true;
                pane stacked=true { children; }
            }
            cargo
        }
    }
}

swap_tiled_layout name="sidebar_close" {
    ui min_panes=8 {
        pane split_direction="vertical" {
            yazi size=1;

            pane name="main" split_direction="vertical" {
                pane focus=true;
                pane stacked=true { children; }
            }
            cargo
        }
    }
}

swap_tiled_layout name="main_only" {
    ui min_panes=8 {
        pane split_direction="vertical" {
            yazi size=1;

            pane name="main" split_direction="vertical" {
                pane focus=true;
                pane stacked=true size=1 { children; }
            }
            cargo
        }
    }
}
